{% extends "rango/base.html" %}

{% block body_block %}
<link href="http://getbootstrap.com/examples/signin/signin.css" rel="stylesheet">

    <div class="container">
        <div class="col-12 col-lg-6">
            <form class="form-signin" role="form" method="post" action=".">
            {% csrf_token %}

            <h2 class="form-signin-heading">Please sign in</h2>
            <input class="form-control" placeholder="Username" id="id_username" maxlength="254" name="username" type="text" required autofocus=""/>
            <input type="password" class="form-control" placeholder="Password" id="id_password" name="password"  required />

            <button class="btn btn-lg btn-primary btn-block" type="submit" value="Submit">Sign in</button>
            </form>

            <p>Not a member? <a href="{% url 'registration_register' %}">Register</a>!</p>
        </div>
    </div>
{% endblock %}