{% extends "rango/base.html" %}

{% block body_block %}
<h1>Change your password here</h1>
    <form method="post" action="{% url 'auth_password_change_done' %}">
        {% csrf_token %}
        {{ form.as_p }}

        <input type="submit" value="Submit" />
    </form>
{% endblock %}