{% extends "rango/base.html" %}

{% load staticfiles %}

{% block title %}User Profile{% endblock %}

{% block body_block %}

    <form role="form"  method="post" action="{% url 'register_profile' %}" enctype="multipart/form-data">
    {% csrf_token %}
        {% if user.is_authenticated %}
            <h2 class="form-signin-heading">Enter your profile information!</h2>

            <div class="form-group">
                <div class="form-group-item"><label for="user_website">Your website:</label>
                <input class="form-control"  id="user_website" maxlength="30" name="website" type="url"  placeholder="Enter your website"></div>

                <div class="form-group-item"><label for="user_picture">Your picture:</label>
                <input class="form-control"  id="user_picture" name="picture" type="file"></div>
            </div>
            <button type="submit" class="btn btn-primary">Add information</button>

        {% else %}
            You are not authenticated!
        {% endif %}
    </form>
{% endblock %}