{% extends 'rango/base.html' %}

{% load staticfiles %}

{% block title %}About{% endblock %}

{% block body_block %}
    <div class="container">
        <p>This is a <strong>Rango's about page</strong>.</p>
        Here's a picture of Rango!
        <br>
        <img src="{% static 'images/about.png' %}" width=786px height=236px>
        <br>
        <button onClick="alert('You clicked the button using Javascript.');">
           Click Me - I run Javascript
        </button>

        <button id="about-btn"> Click Me - I'm Javascript on Speed</button>
        <p>This is a example</p>
        <p>This is another example</p>
        <div id="msg">Hello</div>
    </div>
{% endblock %}
