{% extends 'rango/base.html' %}

{% load staticfiles %}

{% block title%}Add a Category{% endblock %}

{% block body_block %}
<form role="form" id="category_form" method="post" action="{% url 'add_category' %}">

    {% csrf_token %}
    {% if user.is_authenticated %}
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}

        {% for field in form.visible_fields %}
            {{ field.errors }}
            {{ field.help_text }}
            {{ field }}
        {% endfor %}
    {% else %}
        You are not authenticated!
    {% endif %}
<br>
    <button class="btn btn-primary" type="submit" name="submit">Add Category</button>
</form>
{% endblock %}