{% load staticfiles %}

{% load rango_extras %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="https://orig00.deviantart.net/848d/f/2011/175/c/5/transparent_rango_dock_icon_by_jawzf-d3jubgn.png">

    <title>Rango - {% block title %}How to Tango with Django!{% endblock %}</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="http://getbootstrap.com/examples/dashboard/dashboard.css" rel="stylesheet">

  </head>

  <body>
    <div class="container">
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="/rango/">Rango</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{% url 'index' %}">Home</a></li>
                            {% if user.is_authenticated %}
                                <li><a href="{% url 'restricted' %}">Restricted Page</a></li>
                                <li><a href="{% url 'auth_logout' %}?next=/rango/">Logout</a></li>
                                <li><a href="{% url 'add_category' %}">Add a New Category</a></li>
                            {% else %}
                                <li><a href="{% url 'registration_register' %}">Register Here</a></li>
                                <li><a href="{% url 'auth_login' %}">Login</a></li>
                            {% endif %}
                        <li><a href="{% url 'about' %}">About</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="col-lg-2 sidebar">
            {% block side_block %}
                {% get_category_list %}
            {% endblock %}
        </div>
        <div class="col-lg-8 main">
           <div>
                {% block body_block %}
                {% endblock %}
           </div>
        </div>
    </div>
  </body>
<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static "js/rango-jquery.js" %}"></script>
<script src="{% static "js/rango-ajax.js" %}"></script>
</html>