{% extends 'rango/base.html' %}

{% load staticfiles %}

{% block title %}{{ category_name }}{% endblock %}

{% block body_block %}
    <h1>{{ category_name }}</h1>

    {% if category %}
        {% if pages %}
        <div class="list-group">
            {% for page in pages %}
                <li class="list-group-item"><a href="{% url 'goto' %}?page_id={{ page.pk }}">{{ page.title }}</a>
                    <span class="badge">views:{{ page.views }}</span>
                </li>
            {% endfor %}
        </div>
        {% else %}
            <strong>No pages currently in category.</strong>
        {% endif %}
    {% else %}
        The specified category {{ category_name }} does not exist!
    {% endif %}

    {% if user.is_authenticated %}
        <p><button class="btn"><a href="/rango/category/{{ category.slug }}/add_page">Add a New Page</a></button></p>
        <p><button id="likes" data-catid="{{category.id}}" class="btn btn-primary" type="button">
            <span class="glyphicon glyphicon-plus"></span>
            Like <strong id="like_count">{{ category.likes }}</strong></button>
        </p>
    {% else %}
        To add a new page, please <a href="{% url 'auth_login' %}">login</a> or <a href="{% url 'registration_register' %}">register</a>.
    {% endif %}
{% endblock %}